/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}
/* green border white background search btn*/
.btn-search {
    background-color: white;
    color: rgb(77, 201, 77);
    font-size: 8px;
    font-weight: 600;
    text-align: center;;
    width: 100px;
    height: 20px;
    padding: 1px 10px;
    border: 1px solid rgb(131, 206, 131);
    border-radius: 30px;
}
/* white font green background circle btn*/
.btn-add {
    background-color: rgb(129, 211, 169);
    color:white;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
}
/* white font blue background stripe btn with black shadow*/
.btn-primary {
    background-color: #467fed;
    color:white;
    text-align: center;
    font-weight: 100 ;
    width: 150px;
    line-height: 23px;
    height: 25px;
    padding: 1px;
    border: 1px solid black;
    box-shadow: 4px 4px 1px black;
}
/* row and col divisions with flex of portion */
.row {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* columns 1/n */
.col, .col-2, .col-3 {
    background-color: rgb(89, 185, 153);
    padding: 20px;
    margin: 5px 15px;
    flex: 1;
}
/* columns 1/3, 2/3 */
.col-2 {
    flex: 2;
}
/* columns 2/5, 3/5 */
.col-3 {
    flex: 3;
}
/* navbar setting */
.nav {
    width: auto;
    height: 50px;
    color: white;
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin-left: 10px;
    font-weight: 100;
}

.nav-links {
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 240px;
}

a {
    color: grey;
    margin: 5px;
    text-decoration: none;
}

.active {
    color: white;
}

li {
    font-size: 5px;
    list-style-type: none;
    text-align: center;
    margin: 5px;
    vertical-align: top;
}

button {
    color: white;
    margin-bottom: 5px;
    background-color: rgb(12, 138, 170);
    border: 3px solid black;
    box-shadow: 1px 3px rgb(0, 0, 0);
}

.btn {
    padding: 2px;
}
/* -- adding shadow while mouse in or out */
.shadow {
    box-shadow: 5px 5px 5px black;
    position: relative;
    bottom: 5px;
}
/* add class into list */
function addShadow(e) {
  e.classList.add("shadow");
  e.style.backgroundColor = "lightyellow";
}

/* remove shadow class from the list */
function removeShadow(e) {
  e.classList.remove("shadow");
  e.style.backgroundColor = "black"
}