/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}
/* green border white background search btn*/
.btn-search {
    background-color: white;
    color: rgb(77, 201, 77);
    font-size: 8px;
    font-weight: 600;
    text-align: center;;
    width: 100px;
    height: 20px;
    padding: 1px 10px;
    border: 1px solid rgb(131, 206, 131);
    border-radius: 30px;
}
/* white font green background circle btn*/
.btn-add {
    background-color: rgb(129, 211, 169);
    color:white;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 50%;
}
/* white font blue background stripe btn with black shadow*/
.btn-primary {
    background-color: #467fed;
    color:white;
    text-align: center;
    font-weight: 100 ;
    width: 150px;
    line-height: 23px;
    height: 25px;
    padding: 1px;
    border: 1px solid black;
    box-shadow: 4px 4px 1px black;
}
