* {
    padding: 0px;
    margin: 0px;
}

.global-nav {
    width: auto;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-nav {
    display: flex;
    margin-right: auto;
    justify-content: space-between;
}

.sub-nav > .title {
    color: white;
}

.sub-nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}

.global-nav > button {
    width: 85px;
    height: 30px;
    font-size: 10px;
    color: white;
    background-color: rgb(90, 182, 151);
    margin-right: 100px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.con-row-request, .con-row-friend {
    display: flex;
    padding: 5px;
}

.con-row-request {
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.con-row-request > p {
    margin-right: auto;
}

.request-row {
    display: flex;
    padding: 5px;
}

.sectionLeft {
    flex: 2;
}

.card-top, .card-bottom {
    height: auto;
    background-color: white;
    border: 4px solid rgb(158, 158, 158);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
}

.card-img {
    height: 80px;
    background-color: rgb(66, 157, 157);
}
.card-name {
    margin: 60px 0 0 40px;
}
.card-top > p, .card-bottom > p {
    margin: 5px 0 0 50px;
}

.card-bottom > .title {
    padding: 10px 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(54, 54, 54);
    display: flex;
}

.card-title {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(54, 54, 54);
    display: flex;
}

.avi {
    width: 100px;
    height: 100px;
    margin: 35px;
    border-radius: 50%;
    border: 3px solid grey;
    position: fixed;
}

.icon {
    width: 15px;
    height: 15px;
}

.sectionRight {
    flex: 1;
}

.card-bottom > .subhead {
    font-size: 20px;
    margin: 10px 0 0 50px;
}
.card-bottom > .date {
    color: rgb(170, 170, 170);
}
.card-bottom > p, .con-row-friend, .con-row-request {
    font-size: 20px;
}

.count, .count_active {
    padding: 1px;
}

.count_active {
    vertical-align: middle;
    font-size: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: black;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
}

.count-connection {
    vertical-align: middle;
    font-size: 10px;
    margin-right: 5px;
    width: 40px;
    height: 20px;
    color: black;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
}

.request {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
}

.request-row > img {
    width: 25px;
    margin-right: 10px;
}

.card-bottom > a {
    padding: 10px 0 0px 10px;
    color: blue;
    border-top: 4px solid rgb(158, 158, 158);
}