* {
    margin: 0;
    padding: 0;
}

#container {
    width: 900px;
    height: 800px;
    background-color: white;
    margin: 0 auto;
}

.nav {
    width: 900px;
    height: 50px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav > input {
    width: 300px;
    height: 20px;
}

button {
    background-color: #467fed;
    color:white;
    text-align: center;
    font-weight: 100px ;
    width: 80px;
    line-height: 23px;
    height: 25px;
    padding: 1px;
    border: 1px solid black;
    box-shadow: 4px 4px 1px black;
}

.row {
    background-color: white;
    display: flex;
    align-items: center;
}

.left, .card-left > p {
    flex: 2;
}

.right, .card-left > div {
    flex: 1;
}

.card-left {
    margin-top: 30px;
    padding: 20px 0px;
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
}

.card-right {
    padding: 10px;
    height: 200px;
    width: 300px;
    border: 3px solid black;
}

.right {
    margin-top: 30px;
    align-self: flex-start;
}

p {
    font-size: 28px;
    margin-bottom:10px;
}

.sub-des {
    font-size: 20px;
    margin-bottom:20px;
}

.sub-card > h1 {
    margin-bottom: 10px;
}

.sub-card {
    text-align: center;
}

#like {
    background-color: #fbd967;
    color: black;
}

.card-right-title {
    font-size: 40px;
}

.btn-definition {
    margin-top: 30px;
    width: 280px;
    height: 50px;
    font-size: 20px;
    color: black;
    background-color: #93c47d;
}